env/*
app/__pycache__/*
run_log/access.log
.gitignore
run_log/uvicorn_default.log
run_log/app_log_file.log
run_log/app_log_file.log.1
.gitignore
run_log/uvicorn_default.log.1
run_log/app_log_file.log.2
run_log/app_log_file.log.3
run_log/uvicorn_default.log.2
run_log/uvicorn_default.log.3
run_log/.log
run_log/*

.vscode/launch.json
*.__pycache__*
